/*
Error: Invalid CSS after "import 'reset.css'": expected "{", was ";"
        on line 1 of home.scss

1: import 'reset.css';

Backtrace:
home.scss:1
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:1207:in `expected'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:1137:in `expected'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:665:in `block'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:684:in `block_child'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/scss/parser.rb:41:in `parse'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/engine.rb:406:in `_to_tree'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Abhishek/.rvm/gems/ruby-2.4.0/gems/sass-3.4.24/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"import 'reset.css'\": expected \"{\", was \";\"\A         on line 1 of home.scss\A \A 1: import 'reset.css';"; }
